<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{543,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{543,51},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man1.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,130}</string>
                <key>textureRect</key>
                <string>{{147,1},{64,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man2.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{65,114}</string>
                <key>spriteSourceSize</key>
                <string>{129,126}</string>
                <key>textureRect</key>
                <string>{{409,1},{65,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man3.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{71,124}</string>
                <key>spriteSourceSize</key>
                <string>{199,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man4.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-3}</string>
                <key>spriteSize</key>
                <string>{63,121}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{344,1},{63,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man5.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{65,114}</string>
                <key>spriteSourceSize</key>
                <string>{141,130}</string>
                <key>textureRect</key>
                <string>{{476,1},{65,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man6.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{63,122}</string>
                <key>spriteSourceSize</key>
                <string>{79,132}</string>
                <key>textureRect</key>
                <string>{{213,1},{63,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man7.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-1}</string>
                <key>spriteSize</key>
                <string>{71,124}</string>
                <key>spriteSourceSize</key>
                <string>{199,130}</string>
                <key>textureRect</key>
                <string>{{74,1},{71,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>man8.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{64,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,125}</string>
                <key>textureRect</key>
                <string>{{278,1},{64,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{593,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{642,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85a4a3d03991f49c22ac04f9803d1731:34c16836ce52a328e51688977ae719f5:d0d6ded3f9571d55195d795f22e51fc8$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
